body {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: #f2f2f2;
  padding-top: 50px;
}

h1 {
  color: #333;
}
p{
  font-size: 18px;
    font-weight: bold;

}
button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}
